<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/vendors/lugares.css">
    <title> Lugares </title>
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-12">
                <h1> Añadir lugares </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3> Museo de las momias de Guanajuato </h3>
                <form action="#">
                    <label for"checkbox"><input type="checkbox" id="checkbox"><span>El café de las momias</span></label>   
                    <span><input type="checkbox" id="checkbox1"> Panteón Santa Paula</span> 
                    <span><input type="checkbox" id="checkbox2"> Iglesia Adventista del séptimo día Guanajuato</span> 
                </form>
            </div>
            <div class="col-12">
                <h3> Museo Regional de Guanajuato Alhóndiga </h3>
                <form>
                    <span><input type="checkbox" id="checkbox3"> Museo de cera</span> 
                    <span><input type="checkbox" id="checkbox4"> Biblioteca Armando Olivares y Archivo Histórico UG</span> 
                    <span><input type="checkbox" id="checkbox5"> Foro Cultural 81</span> 
                    <span><input type="checkbox" id="checkbox6"> Mercado Hidalgo</span> 
                    <span><input type="checkbox" id="checkbox7"> El patrocinio GTO</span>
                </form>
            </div>
            <div class="col-12">
                <h3> Museo iconográfico del Quijote </h3>
                <form>
                    <span><input type="checkbox" id="checkbox8"> Museo de San Francisco</span> 
                    <span><input type="checkbox" id="checkbox9"> Monumento Jorge Negrete</span> 
                    <span><input type="checkbox" id="checkbox10"> Centro Histórico Gto</span> 
                    <span><input type="checkbox" id="checkbox11"> Teatro Juárez </span> 
                    <span><input type="checkbox" id="checkbox12"> La puerta azul </span> 
                    <span><input type="checkbox" id="checkbox13"> Información turística Plaza Allende </span> 
                </form>
            </div>
            <div class="col-12">
                <h3> Museo Casa Diego Rivera </h3>
                <form>
                    <span><input type="checkbox" id="checkbo14"> Museo del siglo XIX</span> 
                    <span><input type="checkbox" id="checkbox15"> Museo del Pueblo de Guanajuato</span> 
                    <span><input type="checkbox" id="checkbox16"> Casa del Conde Rul</span> 
                    <span><input type="checkbox" id="checkbox17"> Campo Santo - Galería y Estudio</span> 
                    <span><input type="checkbox" id="checkbox18"> Templo de San Roque</span> 
                    <span><input type="checkbox" id="checkbox19"> Foro Cultural 81</span>   
                </form>
            </div>
            <div class="col-12">
                <h3> Museo del Pueblo de Guanajuato </h3>
                <form>
                    <span><input type="checkbox" id="checkbox20"> Basílica Colegiata de Nuestra Señora de Guanajuato</span>
                    <span><input type="checkbox" id="checkbox21"> Teatro principal de Guanajuato</span> 
                    <span><input type="checkbox" id="checkbox22"> Fuente del Baratillo</span> 
                    <span><input type="checkbox" id="checkbox23"> Callejonadas Guanajuato</span> 
                    <span><input type="checkbox" id="checkbox24"> Museo Palacio de los Poderes</span>
                </form>
            </div>
            <div>
                <a class="btn" href="#"> Trazar ruta </a>
            </div>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="../js/materialize.min.js"></script>
</body>
</html>