<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Direcciones</title>
  <link rel="stylesheet" href="../css/vendors/maprutas.css">
</head>

<body>
  <div id="map"></div>
  <div id="right-panel">
    <div>
      <b>Seleccione Primera ruta</b>
      <select id="start">
        <option value="Museo de las Momias de Guanajuato">Museo de las Momias de Guanajuato</option>
        <option value="Alhóndiga de Granaditas">Alhóndiga de Granaditas</option>
        <option value="Museo iconográfico del Quijote">Museo iconográfico del Quijote</option>
        <option value="Museo del Pueblo de Guanajuato">Museo del Pueblo de Guanajuato</option>
        <option value="Museo Casa Diego">Museo Casa Diego </option>
      </select>
      <br>
      <b>Destino:</b>
      <br>
      <!-- <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br> -->
      <select multiple id="waypoints">
        <option value="Casa Museo Gene Byron">Casa Museo Gene Byron</option>
        <option value="Casa de Tía Aura">Casa de Tía Aura</option>
        <option value="Casa de las Leyendas de Guanajuato">Casa de las Leyendas de Guanajuato</option>
        <option value="Casa de los lamentos">Casa de los lamentos</option>
        <option value="Casa Museo José Alfredo Jiménez">Casa Museo José Alfredo Jiménez</option>
      </select>
      <br>
      <b>Tercer sugerencia:</b>
      <select id="end">
        <option value="Parque Bicentenario De Silao">Parque Bicentenario De Silao</option>
        <option value="Cañada de la Virgen">Cañada de la Virgen</option>
        <option value="Zona Arqueológica de Peralta">Zona Arqueológica de Peralta</option>
        <option value="Museo Casa El Purgatorio">Museo Casa El Purgatorio</option>
        <option value="Museo de La Ciudad">Museo de La Ciudad</option>
      </select>
      <br>
      <input type="submit" id="submit">
    </div>
    <div id="directions-panel"></div>
  </div>
  <script src="../js/vendors/maprutas.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIdxjSv6ryGgndpGEofce3YfLSTJV-W7g&callback=initMap">
  </script>
</body>

</html>