<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Guanajuato</title>
  <link rel="stylesheet" href="../css/vendors/rutas.css">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
</head>

<body>
  <p class="logtxt">Details Link was Clicked</p>

  <section class="cardwrapper">
    <div class="card">
      <div class="imgBx">
        <nav></nav>
      </div>
      <div class="details">
        <h2>Ruta de Museos y Galerías</h2>
        <p>          
          <a id="color-azul" class="btn" href="map.html">Ver Ruta</a>
          <br>
          Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.         
        </p>
        <nav></nav>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <nav></nav>
      </div>
      <div class="details">
        <h2>Ruta Arqueológica</h2>
        <p>
            <a id="color-azul" class="btn" href="map.html">Ver Ruta</a>
            <br>
          Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.
        </p>
        <nav></nav>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <nav></nav>
      </div>
      <div class="details">
        <h2>Ruta de Iglesias</h2>
        <p>
            <a id="color-azul" class="btn" href="map.html">Ver Ruta</a>
            <br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.</p>
        <nav></nav>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <nav></nav>
      </div>
      <div class="details">
        <h2>Ruta de la Independencia</h2>
        <p>
            <a id="color-azul" class="btn" href="map.html">Ver Ruta</a>
            <br>
          Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.</p>
        <nav></nav>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <nav></nav>
      </div>
      <div class="details">
        <h2>Ruta Arquitectónica</h2>
        <p>
            <a id="color-azul" class="btn" href="map.html">Ver Ruta</a>
            <br>
          Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.</p>
        <nav></nav>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <nav></nav>
      </div>
      <div class="details">
        <h2>Ruta Cervantina</h2>
        <p>
            <a id="color-azul" class="btn" href="map.html">Ver Ruta</a>
            <br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book.</p>
        <nav></nav>
      </div>
    </div>

  </section>
  <script type="text/javascript">
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
    crossorigin="anonymous"></script>
</body>
<script src="../js/vendors/rutas.js" charset="utf-8"></script>

</html>